body {
  background-color: #F2F2F2;
  color: #6B6B6B;
}
#header1, #header2 {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #9C0;
  color: #FFFFFF;
  padding: 5px;
  z-index: 100000;
}
h2 {
  padding: 0px;
  margin: 0px;
}
