body {
  background-color: #F2F2F2;
  color: #6B6B6B;
}
div {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #9C0;
  color: #FFFFFF;
}
h2 {
  padding: 2px;
  margin: 0px;
}
